{% extends 'generator/base.html' %}

{% block title %} Информация о сайте {% endblock %}

{% block content %}
    <h2>О сайте</h2>
<b>
    Данный сайт позволяет с легкостью выбрать себе новый надежный пароль.
    <br>Для генерации пароля предоставлены варианты с заглавными буквами, цифрами и символами.
    <br>Также есть возможность выбирать длину пароля.
    <br><br>
    <h4>Берегите себя и свой пароль!</h4>
</b>
{% endblock %}

{% block footer %}
<a href="{% url 'home' %}">На главную</a>
{% endblock %}